version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 50
    groups:
      storybook:
        applies-to: version-updates
        patterns:
        - "@storybook*"
        - "storybook*"
      prosemirror:
        applies-to: version-updates
        patterns:
        - "prosemirror*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
