.vscode
.DS_STORE

*.log
*.log.*
*.tsbuildinfo*

node_modules

storybook/package-lock.json
storybook/dist

packages/*/package-lock.json
packages/*/build
packages/*/dist
packages/*/lib

components/dist
components/lib

docs/
