name: Setup Node
description: General setup of node
inputs:
  node-version:
    description: Node.js version to use
    default: '24'
  turbo-cache:
    description: Enable turbo cache setup
    default: 'false'
  registry-url:
    description: npm registry URL
    default: https://registry.npmjs.org

runs:
  using: composite
  steps:

    - uses: pnpm/action-setup@v4

    - uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.node-version }}
        cache: 'pnpm'
        registry-url: ${{ inputs.registry-url }}

    # - name: enable turbo cache
    #   if: ${{ inputs.turbo-cache == 'true' }}
    #   uses: dtinth/setup-github-actions-caching-for-turbo@v1
    #   with:
    #     cache-prefix: ${{ runner.os }}-node-${{ inputs.node-version }}_

    - name: install
      shell: bash
      run: pnpm install --frozen-lockfile
