name: Lint project files

on:
  pull_request:
    paths:
      - '**.ts'

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup node and install deps
        uses: ./.github/workflows/actions/node-setup

      - name: Build project
        run: pnpm -r build

      - name: Save Code Linting Report JSON
        run: pnpm lint:report
        continue-on-error: true

      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@3.0.0
        with:
          report-json: "eslint-report.log.json"

      - name: Upload ESLint report
        uses: actions/upload-artifact@v5
        with:
          name: eslint-report.log.json
          path: eslint-report.log.json