name: Pre-release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Realse tag (PR)'
        required: true

jobs:
  publish:
    name: Publish to PR
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node and install deps
        uses: ./.github/workflows/actions/node-setup

      - name: Config git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Create snapshot
        uses: ./.github/workflows/actions/changeset-snapshot
        with:
          tag: ${{ inputs.tag }}
